@media only screen and (min-width: 1200px){
    .signup_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .content_left{
            flex-basis: 45%;
            .inner_content{
                position: relative;
                .msg_box{
                    display: flex;
                    align-items: center ; 
                    // justify-content: center;
                    background: #FFFF00;
                    width: 80%;
                    height: 100px;
                    padding: 0 30px;
                    position: relative;
                    p{
                        font-size: 22px;
                        font-weight: 800;
                        width: 80%;
                        line-height: 40px;
                    }
    
                    .arrow_down{
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                        background: #FFFF00;
                        position: absolute;
                        bottom: -15px;
                        left: 25px;
                        width: 30px;
                        height: 20px;
                    }
                }
                .title{
                    margin: 35px 0 !important ;
                    h2{
                        color: #FF1D25;
                        font-weight: 300;
                        font-size: 40px;
                    }
                    .illustDesign{
                        margin-bottom: 10px; 
                    }
                }
                .eye{
                    position: absolute;
                    width: 200px;
                    height:100px;
                    top: 40%;
                    transform: translateY(-50%);
                    left: -100px;
                    z-index: -1;
                    opacity: 0.7;
                }

            }
            //content_left  ends   
        }

        .content_right{
            flex-basis: 45%;
            margin: 0 auto;
            // border:1px solid;

            .form_container{
                width: 80%;

                form {
                    .check_bot{
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        // border:1px solid;
                        padding: 5px 0;
                        input[type="checkbox"]{
                            margin: 0 20px 0 10px;
                            transform: scale(2);
                            -ms-transform: scale(2);
                            -webkit-transform: scale(2);
                            padding: 10px;
                        }
                        
                    }

                    .sub_btn{
                        // border:1px solid;
                        margin: 30px 0 0 0;
                        width: 200px;
                        height: 50px;
                        position: relative;
                        border-radius: 50px;
                        input[type="submit"]{
                            width: 100%;
                            height: 100%;
                            padding: 10px 0;
                            border-radius: 50px;
                            background: #FF1D25;
                            color: #fff;
                            border:none;
                        }
                        .icon{
                            background: #990308;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                            top: 0;

                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            //content_right ends
        }
    }
}