@import 'https://fonts.googleapis.com/css2?family=Emblema+One&family=Montserrat:wght@800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';
*,*::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.title {
    align-items: center;
    /* border:1px solid; */
}
.title h1{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Emblema One', cursive;
    font-size: 35px;
    margin: 0 0 0 20px ;
    font-weight: 800;
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
}
.active{
    font-size: 18px;
    font-weight: 500;
    border-bottom:3px solid #ff3300;
}
@media only screen and (min-width:1800px){
    .wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .wrapper .header{
       
        /* border:1px solid; */
        padding: 0 25px;
        margin: 0;
    }
    .wrapper .header .bar{
        display: flex;
        height: 15vh;
        /* border:1px solid; */
        width: 100%;
        padding:0;
        margin:0;
    }
    .wrapper .header .small_device_navbar{
        display: none;
    }
    .wrapper .header .logo{
        /* border:1px solid; */
        display: flex;
        align-items: center;
        flex: 1;
    }
    .wrapper .header .logo img{
        /* border:1px solid; */
        border-radius:50%;
        width: 130px;
        height: 130px;
        border:4px solid #ff3300;
    }
    
    .wrapper .header .nav{        
        display: flex;
        flex-direction: column;
        flex: 8;
    } 
    .wrapper .header .nav .upper_nav {
       
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
    } 
    .wrapper .header .nav .upper_nav  p{
        margin: 0;
    }
    .wrapper .header .nav .upper_nav  p:last-child{
        margin: 0 0 0 30px;
    }
    .wrapper .header .nav .upper_nav a{
        text-decoration: none;
        color: #000;
    }
    .wrapper .header .nav .lower_nav {
        /* border:1px solid; */
        flex: 1;
        display: flex;
        justify-content: flex-end;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul{
        display: flex;
        list-style: none;
        align-items: center;
        height: 100%;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul li{
        padding: 0 20px;
        border-right:1px solid;
        text-align: center;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:last-child{
        border:none;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li a{
        color: #000;
        text-decoration: none;
        transition: 0.08s ease-in-out;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li.active a{
        font-size: 18px;
        font-weight: 500;
        border-bottom:3px solid #ff3300;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:hover a{
        border-bottom:3px solid #ff3300;
    }
    .wrapper .hero{
        overflow: hidden;
        margin:0 !important;
        padding: 0 !important;
        /* border:1px solid; */
    }
    
    .wrapper .border{
        height: 5px;
        background-color: #ff3300;
        
    }
    
    .wrapper .hero .carousel-inner img{
        object-position: center;
        height: 60vh;
    }
    
    
    .wrapper .main{
        padding: 15px 30px;
        /* margin: 30px 0; */
        max-width: 1800px;
        margin:30px auto;
    }
    .wrapper .main section:first-child{
        margin:0;
    }
    .wrapper .main section{
        margin: 50px 0;
    }
    .wrapper .main .title h1{
        color: #ff6600;
        font-weight: 300;
    }
    .wrapper .main .content{
        margin: 25px 0;
    }
    .wrapper .main .history_of_puja .content  p{
        letter-spacing: 1px;
    }
    .wrapper .main .history_of_puja .content  p:first-child::first-letter{
        font-size: 25px;
        font-weight: 500;
    }
    .wrapper .footer{
        background: #cc0000;
        /* background: #ff0009; */
        overflow: hidden;
    }
    .wrapper .footer .footer_wrappper{
        width: 80%;
        margin: 0 auto;
        display: flex;
        
    }
    .wrapper .footer .col{
        flex: 1;
        margin: 20px 0;
        border-right: 1px solid #fff;
        padding: 15px;
        color: #fff;
        
    }
    .wrapper .footer .col h2{
        font-weight: 300;
        font-size: 20px;
    }
    .wrapper .footer .col h3{
        font-size:18px;
    }
    .wrapper .footer .col h5{
        font-size: 15px;
    }
    .wrapper .col .divider{
        width: 100%;
        height: 1px;
        background: #fff;
        margin: 10px 0 20px 0;
    }
    .wrapper .footer .col:last-child{
        border:none;
    }
    .wrapper .footer .col ul{
        list-style: none;
    }
    .wrapper .footer .col ul li{
        padding: 3px 0;
        transition: transform 0.25s ease-in-out;
    }
    .wrapper .footer .col ul li:hover {
        transform: translateX(8px)
    }
    .wrapper .footer .col ul li:hover a{
        /* font-size: 22px; */
        text-shadow: 3px 3px 10px #ffff;
    }
    .wrapper .footer .col ul li a{
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        letter-spacing: 2px;
    }
    .wrapper .footer .col .social_links{
        display: flex;
        align-items: center;
    }
    .wrapper .footer .col .social_links i{
        font-size: 15px;
        margin: 0 20px 0 0;
    }
    .wrapper .footer .copywrite{
        /* border:1px solid; */
        background: #ffe6e6;
        color: #cc0000;
        text-align: center;
        height: 30px;
    }
    .wrapper .footer .copywrite p{
        /* border:1px solid; */
    }

    

    /* Events Page  */
    .wrapper .event_main{
        margin: 20px 0;
         /* overflow: hidden; */
     }
     .wrapper .event_main .event_container{
         display: grid;
         /* height: 80vh; */
         grid-gap: 20px;
         grid-template-columns: 500px 1fr;
     }
     .wrapper .event_main .event_container .left_content{
         overflow-y: scroll;
     }
     
     .wrapper .event_main .event_container .left_content .create_comment{
         height: 180px;
         background: #ddd;
         width: 95%;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .wrapper .event_main .event_container .left_content .create_comment form{
         width: 98%;
         margin: 0 auto 0 auto;
     }
     .wrapper .event_main .event_container .left_content .create_comment textarea{
         min-width: 100%;
         min-height: 120px;
         max-height: 120px;
         padding: 5px 10px;
         border:1px solid #ddd;
     }
     .wrapper .event_main .event_container .left_content .create_comment .box_footer{
         height: 40px;
         background: #f2f2f2;
         width:100%;
         margin: 0 auto 0 auto;
         border-radius:3px;
         display: flex;
         padding: 0 10px;
         align-items: center;
         justify-content: space-between;
     }
     .wrapper .event_main .event_container .left_content .create_comment .box_footer .submitBtn{
         /* border:1px solid; */
         padding: 2px 10px;
         border-radius: 2px;
         text-decoration: none;
         background: #119AF6;
         color: #fff;
         font-size: 14px;
     }
     .wrapper .event_main .event_container .left_content .create_comment textarea:focus{
         outline: none;
     }
     .wrapper .event_main .event_container .left_content .content_header{       
         background: #f2f2f2;
         width: 95%;
         margin: 0 auto;
         height: 50px;
         border-radius: 5px 5px 0 0;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 20px;
     }
     .wrapper .event_main .event_container .left_content .content_header p{
         margin: 0;
     }
     .wrapper .event_main .event_container .left_content .content_header a{
         color: #000;
         text-decoration: none;
     }
     .wrapper .event_main .event_container .left_content .comment_box{
         background:#f2f2f2;
         /* height: 100px; */
         width: 95%;
         border-radius:5px;
         padding: 10px;
         margin: 10px auto;
     }
     .wrapper .event_main .event_container .left_content .comment_box .inner_top_content{
         display: flex;
         align-items: center;
     }
     .wrapper .event_main .event_container .left_content .comment_box .inner_top_content .name_circle{
         width: 50px;
         height: 50px;
         border-radius:50%;
         padding:13px 0;
         text-align: center;
         background: seagreen;
         color: #fff;
     }
     .wrapper .event_main .event_container .left_content .comment_box .inner_top_content .post_user_name{
         margin: 0 0 0 10px;
         display: flex;
         flex-direction: column;
     }
     .wrapper .event_main .event_container .left_content .comment_box .post_message{
         margin: 10px 10px;
     }
     .wrapper .event_main .event_container .left_content .comment_box .post_message p{
         font-size: 15px;
     }
     .wrapper .event_main .event_container .left_content .comment_box .comment_box_footer{
         display: flex;
     }
     .wrapper .event_main .event_container .left_content .comment_box .comment_box_footer p{
         margin: 0 0 0 30px;
     }
     .wrapper .event_main .event_container .left_content .comment_box .comment_box_footer p:first-child{
        
         margin: 0 0 0 10px;
     }
      
     input[type='image']:focus{
         outline: none;
     }
     .reply_input_box .create_reply_comment{
         height: 140px;
         /* background: #ddd; */
         width: 95%;
         margin: 20px 0 0 0;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .wrapper .event_main .event_container .left_content .create_reply_comment form{
         width: 98%;
         /* margin: 0 auto 0 auto; */
     }
     .wrapper .event_main .event_container .left_content .create_reply_comment textarea{
         min-width: 100%;
         min-height: 90px;
         max-height: 90px;
         padding: 5px 10px;
         border:1px solid #ddd;
     }
     .wrapper .event_main .event_container .left_content .create_reply_comment .box_footer{
         height: 40px;
         background: #f2f2f2;
         width:100%;
         margin: 0 auto 0 auto;
         border-radius:3px;
         display: flex;
         padding: 0 10px;
         align-items: center;
         justify-content: space-between;
     }
     .wrapper .event_main .event_container .left_content .create_reply_comment .box_footer .submitBtn{
         /* border:1px solid; */
         padding: 2px 10px;
         border-radius: 2px;
         text-decoration: none;
         background: #119AF6;
         color: #fff;
         font-size: 14px;
     }
     .wrapper .event_main .event_container .left_content .Reply{
         color: #000;
         text-decoration: none;
     }
     .wrapper .event_main .event_container .left_content .create_reply_comment textarea:focus{
         outline: none;
     }
     .wrapper .event_main .event_container .right_content .timeTable{
         margin: 20px 0; 
     }
     .wrapper .event_main .event_container .right_content .timeTable .comingup_title{
         margin: 20px 0; 
         display: flex;
         align-items:center;
         /* border:1px solid; */
     }
     .wrapper .event_main .event_container .right_content .timeTable .comingup_title h4{
         margin: 0 15px;
         font-family: 'Emblema One', cursive;
         height: 100%;
         color:  #cc0000;
     }
     .wrapper .event_main .event_container .right_content .timeTable .comingup_title p{
        font-size: 1.5rem;
         /* font-weight: 500; */
         /* margin:auto 0; */
     }
     .wrapper .event_main .event_container .right_content .timeTable .comingup_title img{
        animation: rotation 10s infinite linear;
     }
     .wrapper .event_main .event_container .right_content .timeTable table thead{
        background: #cc0000;
     }
     .wrapper .event_main .event_container .right_content .timeTable table thead th{
         color: #faee1c;
         
     }

}

@keyframes rotation{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}

/* //laptop View  */


@media only screen and (min-width:1024px){
    .wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .wrapper .header{
        height: 15vh;
        /* border:1px solid; */
        display: flex;
        padding: 0 25px;
        margin: 0 0 0 0;
        /* background: #eeee; */
    }
    .wrapper .header .bar{
        display: flex;
        height: 15vh;
        /* border:1px solid; */
        width: 100%;
        padding:0;
        margin:0;
        
    }
    .wrapper .header .logo{
        /* border:1px solid; */
        flex: 1;
        display: flex;
        align-items: center;
    }
    .wrapper .header .logo img{
        /* border:1px solid; */
        border-radius:50%;
        width: 100px;
        height: 100px;
        border:4px solid #ff3300;
    }
    .wrapper .header .nav{
        /* border:1px solid; */
        flex: 8;
        display: flex;
        flex-direction: column;
        
    } 
    .wrapper .header .small_device_navbar{
        display: none;
    }
    .wrapper .header .nav .upper_nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
    } 
    .wrapper .header .nav .upper_nav  p{
        margin: 0;
    }
    .wrapper .header .nav .upper_nav  p:last-child{
        margin: 0 0 0 30px;
    }
    .wrapper .header .nav .upper_nav a{
        text-decoration: none;
        color: #000;
    }
    .wrapper .header .nav .lower_nav {
        /* border:1px solid; */
        flex: 1;
        display: flex;
        justify-content: flex-end;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul{
        display: flex;
        list-style: none;
        align-items: center;
        height: 100%;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul li{
        padding: 0 20px;
        border-right:1px solid;
        text-align: center;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:last-child{
        border:none;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li a{
        color: #000;
        text-decoration: none;
        transition: 0.08s ease-in-out;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li.active a{
        font-size: 18px;
        font-weight: 500;
        border-bottom:3px solid #ff3300;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:hover a{
        border-bottom:3px solid #ff3300;
    }
    .wrapper .hero{
        overflow: hidden;
        margin:0 !important;
        padding: 0 !important;
        /* border:1px solid; */
    }
    
    .wrapper .border{
        height: 5px;
        background-color: #ff3300;
        
    }
    
    .wrapper .hero .carousel-inner img{
        object-position: center;
        height: 60vh;
    }
    
    
    .wrapper .main{
        padding: 15px 30px;
    }
    .wrapper .main section:first-child{
        margin:0;
    }
    .wrapper .main section{
        margin: 50px 0;
    }
    .wrapper .main .title h1{
        color: #ff6600;
        /* font-weight: 300; */
    }
    .wrapper .main .content{
        margin: 25px 0;
    }
    .wrapper .main .history_of_puja .content  p{
        /* letter-spacing: 1px; */
    }
    .wrapper .main .history_of_puja .content  p:first-child::first-letter{
        font-size: 25px;
        font-weight: 500;
    }
    .wrapper .footer{
        background: #cc0000;
        /* background: #ff0009; */
        overflow: hidden;
    }
    .wrapper .footer .footer_wrappper{
        width: 80%;
        margin: 0 auto;
        display: flex;
        
    }
    .wrapper .footer .col{
        flex: 1;
        margin: 20px 0;
        border-right: 1px solid #fff;
        padding: 15px;
        color: #fff;
        
    }
    .wrapper .footer .col h2{
        font-weight: 300;
        font-size: 20px;
    }
    .wrapper .footer .col h3{
        font-size:18px;
    }
    .wrapper .footer .col h5{
        font-size: 15px;
    }
    .wrapper .col .divider{
        width: 100%;
        height: 1px;
        background: #fff;
        margin: 10px 0 20px 0;
    }
    .wrapper .footer .col:last-child{
        border:none;
    }
    .wrapper .footer .col ul{
        list-style: none;
    }
    .wrapper .footer .col ul li{
        padding: 3px 0;
        transition: transform 0.25s ease-in-out;
    }
    .wrapper .footer .col ul li:hover {
        transform: translateX(8px)
    }
    .wrapper .footer .col ul li:hover a{
        /* font-size: 22px; */
        text-shadow: 3px 3px 10px #ffff;
    }
    .wrapper .footer .col ul li a{
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        letter-spacing: 2px;
    }
    .wrapper .footer .col .social_links{
        display: flex;
        align-items: center;
    }
    .wrapper .footer .col .social_links i{
        font-size: 15px;
        margin: 0 20px 0 0;
    }
    .wrapper .footer .copywrite{
        /* border:1px solid; */
        background: #ffe6e6;
        color: #cc0000;
        text-align: center;
        height: 30px;
    }





    /* Events Page  */
    .wrapper .event_main{
       margin: 20px 0;
        /* overflow: hidden; */
    }
    .wrapper .event_main .event_container{
        display: grid;
        /* height: 80vh; */
        grid-gap: 20px;
        grid-template-columns: 500px 1fr;
    }
    .wrapper .event_main .event_container .left_content{
        overflow-y: scroll;
    }
    
    .wrapper .event_main .event_container .left_content .create_comment{
        height: 180px;
        background: #ddd;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper .event_main .event_container .left_content .create_comment form{
        width: 98%;
        margin: 0 auto 0 auto;
    }
    .wrapper .event_main .event_container .left_content .create_comment textarea{
        min-width: 100%;
        min-height: 120px;
        max-height: 120px;
        padding: 5px 10px;
        border:1px solid #ddd;
    }
    .wrapper .event_main .event_container .left_content .create_comment .box_footer{
        height: 40px;
        background: #f2f2f2;
        width:100%;
        margin: 0 auto 0 auto;
        border-radius:3px;
        display: flex;
        padding: 0 10px;
        align-items: center;
        justify-content: space-between;
    }
    .wrapper .event_main .event_container .left_content .create_comment .box_footer .submitBtn{
        /* border:1px solid; */
        padding: 2px 10px;
        border-radius: 2px;
        text-decoration: none;
        background: #119AF6;
        color: #fff;
        font-size: 14px;
    }
    .wrapper .event_main .event_container .left_content .create_comment textarea:focus{
        outline: none;
    }
    .wrapper .event_main .event_container .left_content .content_header{       
        background: #f2f2f2;
        width: 95%;
        margin: 0 auto;
        height: 50px;
        border-radius: 5px 5px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
    .wrapper .event_main .event_container .left_content .content_header p{
        margin: 0;
    }
    .wrapper .event_main .event_container .left_content .content_header a{
        color: #000;
        text-decoration: none;
    }
    .wrapper .event_main .event_container .left_content .comment_box{
        background:#f2f2f2;
        /* height: 100px; */
        width: 95%;
        border-radius:5px;
        padding: 10px;
        margin: 10px auto;
    }
    .wrapper .event_main .event_container .left_content .comment_box .inner_top_content{
        display: flex;
        align-items: center;
    }
    .wrapper .event_main .event_container .left_content .comment_box .inner_top_content .name_circle{
        width: 50px;
        height: 50px;
        border-radius:50%;
        padding:13px 0;
        text-align: center;
        background: seagreen;
        color: #fff;
    }
    .wrapper .event_main .event_container .left_content .comment_box .inner_top_content .post_user_name{
        margin: 0 0 0 10px;
        display: flex;
        flex-direction: column;
    }
    .wrapper .event_main .event_container .left_content .comment_box .post_message{
        margin: 10px 10px;
    }
    .wrapper .event_main .event_container .left_content .comment_box .post_message p{
        font-size: 15px;
    }
    .wrapper .event_main .event_container .left_content .comment_box .comment_box_footer{
        display: flex;
    }
    .wrapper .event_main .event_container .left_content .comment_box .comment_box_footer p{
        margin: 0 0 0 30px;
    }
    .wrapper .event_main .event_container .left_content .comment_box .comment_box_footer p:first-child{
       
        margin: 0 0 0 10px;
    }
     
    input[type='image']:focus{
        outline: none;
    }
    .reply_input_box .create_reply_comment{
        height: 140px;
        /* background: #ddd; */
        width: 95%;
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper .event_main .event_container .left_content .create_reply_comment form{
        width: 98%;
        /* margin: 0 auto 0 auto; */
    }
    .wrapper .event_main .event_container .left_content .create_reply_comment textarea{
        min-width: 100%;
        min-height: 90px;
        max-height: 90px;
        padding: 5px 10px;
        border:1px solid #ddd;
    }
    .wrapper .event_main .event_container .left_content .create_reply_comment .box_footer{
        height: 40px;
        background: #f2f2f2;
        width:100%;
        margin: 0 auto 0 auto;
        border-radius:3px;
        display: flex;
        padding: 0 10px;
        align-items: center;
        justify-content: space-between;
    }
    .wrapper .event_main .event_container .left_content .create_reply_comment .box_footer .submitBtn{
        /* border:1px solid; */
        padding: 2px 10px;
        border-radius: 2px;
        text-decoration: none;
        background: #119AF6;
        color: #fff;
        font-size: 14px;
    }
    .wrapper .event_main .event_container .left_content .Reply{
        color: #000;
        text-decoration: none;
    }
    .wrapper .event_main .event_container .left_content .create_reply_comment textarea:focus{
        outline: none;
    }
    .wrapper .event_main .event_container .right_content .timeTable{
        margin: 20px 0; 
    }
    .wrapper .event_main .event_container .right_content .timeTable .comingup_title{
        margin: 20px 0; 
        display: flex;
        align-items:center;
        /* border:1px solid; */
    }
    .wrapper .event_main .event_container .right_content .timeTable .comingup_title h4{
        margin: 0 15px;
        font-family: 'Emblema One', cursive;
        height: 100%;
    }
    .wrapper .event_main .event_container .right_content .timeTable .comingup_title p{
        font-size: 16px;
        /* border:1px solid; */
        height: 100%;
        margin:auto 0;
    }
    .wrapper .event_main .event_container .right_content .timeTable table thead{
        background: #cc0000;
        color: #ff6600;
    }
}


/* //Tablet View  */

@media only screen and (max-width:980px){
    .wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .wrapper .header{
        height: 10vh;
        /* border:1px solid; */
        /* display: flex; */
        padding: 0 25px;
        margin: 0 0 0 0;
        
    }
    .wrapper .header .bar{
        display: none;
    }
    .wrapper .header .logo{
        /* border:1px solid; */
        flex: 1;
    }
    .wrapper .header .nav{
        /* border:1px solid; */
        flex: 8;
        display: flex;
        flex-direction: column;
    } 
    .wrapper .header .small_device_navbar{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .wrapper .header .small_device_navbar .nav_logo{
        flex:1;
        height: 100%;
    }
    .wrapper .header .small_device_navbar .nav_logo img{
        height: 100%;
    }
    .wrapper .header .small_device_navbar a{
        flex:8;
        text-align: right;
        font-size: 30px;
        color: #ff3300;
    }
    .wrapper .header .nav .upper_nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
    } 
    .wrapper .header .nav .upper_nav  p{
        margin: 0;
    }
    .wrapper .header .nav .upper_nav  p:last-child{
        margin: 0 0 0 30px;
    }
    .wrapper .header .nav .upper_nav a{
        text-decoration: none;
        color: #000;
    }
    .wrapper .header .nav .lower_nav {
        /* border:1px solid; */
        flex: 1;
        display: flex;
        justify-content: flex-end;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul{
        display: flex;
        list-style: none;
        align-items: center;
        height: 100%;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul li{
        padding: 0 20px;
        border-right:1px solid;
        text-align: center;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:last-child{
        border:none;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li a{
        color: #000;
        text-decoration: none;
        transition: 0.08s ease-in-out;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li.active a{
        font-size: 18px;
        font-weight: 500;
        border-bottom:3px solid #ff3300;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:hover a{
        border-bottom:3px solid #ff3300;
    }
    .wrapper .hero{
        overflow: hidden;
        margin:0 !important;
        padding: 0 !important;
        /* border:1px solid; */
    }
    
    .wrapper .border{
        height: 5px;
        background-color: #ff3300;
        
    }
    
    .wrapper .hero .carousel-inner img{
        object-position: center;
        height: 40vh;
    }
    
    
    .wrapper .main{
        padding: 15px 30px;
        /* margin: 30px 0; */
        margin:30px auto;
    }
    .wrapper .main section:first-child{
        margin:0;
    }
    .wrapper .main section{
        margin: 50px 0;
    }
    .wrapper .main .title h1{
        color: #ff6600;
        font-weight: 300;
    }
    .wrapper .main .content{
        margin: 25px 0;
    }
    .wrapper .main .history_of_puja .content  p{
        letter-spacing: 1px;
    }
    .wrapper .main .history_of_puja .content  p:first-child::first-letter{
        font-size: 25px;
        font-weight: 500;
    }

    .wrapper .footer{
        background: #cc0000;
        /* background: #ff0009; */
        overflow: hidden;
    }
    .wrapper .footer .footer_wrappper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
    }
    .wrapper .footer .col:first-child{
        flex: 5 !important;
    }
    .wrapper .footer .col{
        flex: 1;
        margin: 20px 0;
        /* border-right: 1px solid #fff; */
        padding: 15px;
        color: #fff;
        
    }
    .wrapper .footer .col h2{
        font-weight: 300;
        font-size: 20px;
    }
    .wrapper .footer .col h3{
        font-size:18px;
    }
    .wrapper .footer .col h5{
        font-size: 15px;
    }
    .wrapper .col .divider{
        width: 100%;
        height: 1px;
        background: #fff;
        margin: 10px 0 20px 0;
    }
    .wrapper .footer .col:last-child{
        border:none;
    }
    .wrapper .footer .col ul{
        list-style: none;
    }
    .wrapper .footer .col ul li{
        padding: 3px 0;
        transition: transform 0.25s ease-in-out;
    }
    .wrapper .footer .col ul li:hover {
        transform: translateX(8px)
    }
    .wrapper .footer .col ul li:hover a{
        /* font-size: 22px; */
        text-shadow: 3px 3px 10px #ffff;
    }
    .wrapper .footer .col ul li a{
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        letter-spacing: 2px;
    }
    .wrapper .footer .col .social_links{
        display: flex;
        align-items: center;
    }
    .wrapper .footer .col .social_links i{
        font-size: 15px;
        margin: 0 20px 0 0;
    }
    .wrapper .footer .copywrite{
        /* border:1px solid; */
        background: #ffe6e6;
        color: #cc0000;
        text-align: center;
        height: 30px;
    }
    .wrapper .footer .copywrite p{
        /* border:1px solid; */
    }

}

/* Mobile View  */


@media only screen and (max-width:500px){
    .wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .wrapper .header{
        height: 8vh;
        /* border:1px solid; */
        /* display: flex; */
        padding: 0 15px;
        margin: 0 0 0 0;
    }
    .wrapper .header .bar{
        display: none;
    }
    .wrapper .header .logo{
        /* border:1px solid; */
        flex: 1;
    }
    .wrapper .header .nav{
        /* border:1px solid; */
        flex: 8;
        display: flex;
        flex-direction: column;
        
    } 

    .wrapper .header .small_device_navbar{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .wrapper .header .small_device_navbar .nav_logo{
        flex:2;
        height: 100%;
        /* width: 200px; */
    }
    .wrapper .header .small_device_navbar .nav_logo img{
        width: 100%;
        height: 100%;
       
    }
    .wrapper .header .small_device_navbar a{
        flex:7;
        text-align: right;
        font-size: 30px;
        color: #ff3300;
    }

    .wrapper .header .nav .upper_nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
    } 
    .wrapper .header .nav .upper_nav  p{
        margin: 0;
    }
    .wrapper .header .nav .upper_nav  p:last-child{
        margin: 0 0 0 30px;
    }
    .wrapper .header .nav .upper_nav a{
        text-decoration: none;
        color: #000;
    }
    .wrapper .header .nav .lower_nav {
        /* border:1px solid; */
        flex: 1;
        display: flex;
        justify-content: flex-end;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul{
        display: flex;
        list-style: none;
        align-items: center;
        height: 100%;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul li{
        padding: 0 20px;
        border-right:1px solid;
        text-align: center;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:last-child{
        border:none;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li a{
        color: #000;
        text-decoration: none;
        transition: 0.08s ease-in-out;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li.active a{
        font-size: 18px;
        font-weight: 500;
        border-bottom:3px solid #ff3300;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:hover a{
        border-bottom:3px solid #ff3300;
    }
    .wrapper .hero{
        overflow: hidden;
        margin:0 !important;
        padding: 0 !important;
        /* border:1px solid; */
    }
    
    .wrapper .border{
        height: 5px;
        background-color: #ff3300;
        
    }
    
    .wrapper .hero .carousel-inner img{
        object-position: center;
        height: 30vh;
    }
    
    
    .wrapper .main{
        padding: 15px 15px;
        /* margin: 30px 0; */
        margin:30px auto;
    }
    .wrapper .main section:first-child{
        margin:0;
    }
    .wrapper .main section{
        margin: 50px 0;
    }
    .wrapper .main .title h1{
        color: #ff6600;
        font-weight: 300;
    }
    .wrapper .main .content{
        margin: 25px 0;
    }
    .wrapper .main .history_of_puja .content  p{
        letter-spacing: 1px;
    }
    .wrapper .main .history_of_puja .content  p:first-child::first-letter{
        font-size: 25px;
        font-weight: 500;
    }



    .wrapper .footer{
        background: #cc0000;
        /* background: #ff0009; */
        overflow: hidden;
    }
    .wrapper .footer .footer_wrappper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .wrapper .footer .col{
        /* flex: 1; */
        margin: 20px 0;
        /* border-right: 1px solid #fff; */
        padding: 15px;
        color: #fff;
        
    }
    .wrapper .footer .col h2{
        font-weight: 300;
        font-size: 20px;
    }
    .wrapper .footer .col h3{
        font-size:18px;
    }
    .wrapper .footer .col h5{
        font-size: 15px;
    }
    .wrapper .col .divider{
        width: 100%;
        height: 1px;
        background: #fff;
        margin: 10px 0 20px 0;
    }
    .wrapper .footer .col:last-child{
        border:none;
    }
    .wrapper .footer .col ul{
        list-style: none;
    }
    .wrapper .footer .col ul li{
        padding: 3px 0;
        transition: transform 0.25s ease-in-out;
    }
    .wrapper .footer .col ul li:hover {
        transform: translateX(8px)
    }
    .wrapper .footer .col ul li:hover a{
        /* font-size: 22px; */
        text-shadow: 3px 3px 10px #ffff;
    }
    .wrapper .footer .col ul li a{
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        letter-spacing: 2px;
    }
    .wrapper .footer .col .social_links{
        display: flex;
        align-items: center;
    }
    .wrapper .footer .col .social_links i{
        font-size: 15px;
        margin: 0 20px 0 0;
    }
    .wrapper .footer .copywrite{
        /* border:1px solid; */
        background: #ffe6e6;
        color: #cc0000;
        text-align: center;
        height: 30px;
    }
    .wrapper .footer .copywrite p{
        /* border:1px solid; */
    }
}

/* Small Devices  */

@media only screen and (max-width:400px){
    .wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .wrapper .header{
        height: 8vh;
        /* border:1px solid; */
        /* display: flex; */
        padding: 0 10px;
        margin: 0 0 0 0;
    }
    .wrapper .header .bar{
        display: none;
    }
    .wrapper .header .logo{
        /* border:1px solid; */
        flex: 1;
    }
    .wrapper .header .nav{
        /* border:1px solid; */
        flex: 8;
        display: flex;
        flex-direction: column;
        
    } 
    .wrapper .header .small_device_navbar{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .wrapper .header .small_device_navbar .nav_logo{
        flex:2;
        height: 100%;
    }
    .wrapper .header .small_device_navbar .nav_logo img{
        height: 100%;
    }
    .wrapper .header .small_device_navbar a{
        flex:7;
        text-align: right;
        font-size: 30px;
        color: #ff3300;
    }


    .wrapper .header .nav .upper_nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
    } 
    .wrapper .header .nav .upper_nav  p{
        margin: 0;
    }
    .wrapper .header .nav .upper_nav  p:last-child{
        margin: 0 0 0 30px;
    }
    .wrapper .header .nav .upper_nav a{
        text-decoration: none;
        color: #000;
    }
    .wrapper .header .nav .lower_nav {
        /* border:1px solid; */
        flex: 1;
        display: flex;
        justify-content: flex-end;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul{
        display: flex;
        list-style: none;
        align-items: center;
        height: 100%;
    } 
    .wrapper .header .nav .lower_nav .nav_container ul li{
        padding: 0 20px;
        border-right:1px solid;
        text-align: center;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:last-child{
        border:none;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li a{
        color: #000;
        text-decoration: none;
        transition: 0.08s ease-in-out;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li.active a{
        font-size: 18px;
        font-weight: 500;
        border-bottom:3px solid #ff3300;
    }
    .wrapper .header .nav .lower_nav .nav_container ul li:hover a{
        border-bottom:3px solid #ff3300;
    }
    .wrapper .hero{
        overflow: hidden;
        margin:0 !important;
        padding: 0 !important;
        /* border:1px solid; */
    }
    
    .wrapper .border{
        height: 5px;
        background-color: #ff3300;
        
    }
    
    .wrapper .hero .carousel-inner img{
        object-position: center;
        height: 20vh;
    }
    
    
    .wrapper .main{
        padding: 15px 15px;
        /* margin: 30px 0; */
        margin:30px auto;
    }
    .wrapper .main section:first-child{
        margin:0;
    }
    .wrapper .main section{
        margin: 50px 0;
    }
    .wrapper .main .title h1{
        color: #ff6600;
        font-weight: 300;
        font-size: 25px;
    }
    .wrapper .main .content{
        margin: 25px 0;
    }
    .wrapper .main .history_of_puja .content  p{
        letter-spacing: 1px;
        /* text-align: justify; */
        font-size: 15px;
    }
    .wrapper .main .history_of_puja .content  p:first-child::first-letter{
        font-size: 25px;
        font-weight: 500;
    }
}